@import '../../common/partials/text';
@import '../../common/partials/colors';
@import "../../common/partials/variables";

.homepage {
  .header {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    .header-left {
      display: grid;
      grid-template-columns: repeat(7, 105px);
      grid-auto-rows: minmax(0, auto);
      margin-left: 100px;
      border-left: 2px solid $gray;
      height: 70vh;

      .logo {
          margin: 5px auto;
          max-width: 95px;
          max-height: 95px;
      }

      .grid-item {
        font-size: 15px;
        padding: 37px 10px;
        text-align: center;

        &:last-child {
          grid-column-start: 1;
          grid-column-end: 5;
          grid-row-start: 3;
          grid-row-end: 5;
          padding-left: 32px;
          text-align: left;
          max-width: 468px;

          .header-title {
            font-size: $font-size-title;
            color: $gray;
          }

          .title-about {
            font-size: $font-size-regular;
            color: $gray;
          }
        }
        &:not(:last-child) {
          height: 390px;
          border-left: 2px solid $gray;
        }
      }
    }

    .header-right {

      .image {
        .header-img {
          position: relative;
          top: 0;
          right: 0;
          z-index: 2;
        }
      }

      .box {
        max-width: 776px;
        max-height: 312px;
        width: 100%;
        height: 100%;
        background-color: $yellow;
        position: absolute;
        top: 420px;
        right: 0;
      }
    }
  }

  .about-us {

    .about-us-flex {
      display: flex;
      justify-content: space-between;

      .text {
        max-width: 270px;
        line-height: 150%;
        font-size: $font-size-small-regular;

        &:first-child {
          max-width: 260px;
        }
      }

      .line-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .hor-line {
          width: 610px;
          height: 0;
          border: 1px solid $gray;
          width: 100%;

          &:not(:last-child) {
            margin-bottom: 105px;
          }
        }

        .mid {
          display: flex;
          justify-content: space-between;

          .text {
            max-width: 261px;
            line-height: 150%;
          }

          .mid-right {
            border-top: 2px solid $gray;
            border-bottom: 2px solid $gray;

            .button-wrapper {
              display: flex;
              height: 100%;

              .about-us-button {
                background-color: $dark-gray;
                padding: 15px 25px;
                margin: 82px 93px;
                color: $white;
                font-size: $font-size-small-regular;

                @include hover-transition;

                &:hover {
                  color: $dark-gray-hover;
                }
              }

              .small-hor-line {
                width: 65px;
                border: 1px solid $gray;
                height: 0;
                align-self: center;
              }
            }
          }
        }
      }
    }
  }

  .our-team {
    margin-top: 100px;

    .width-container {

      .content-wrapper {
        display: flex;
        border-left: 2px solid $gray;
        border-right: 2px solid $gray;
        padding: 0 63px;
        font-size: $font-size-small-regular;

        .top {
          display: flex;
          justify-content: space-around;

          .ver-line {
            height: 120px;
            width: 0;
            border: 1px solid $gray;
            margin-left: -40px;
          }
        }

        .mid {
          margin-bottom: 25px;

          .title {
            font-size: $font-size-small-regular;
            margin-bottom: 15px;
          }

          .area {
            max-width: 149px;
            word-break: break-all;
          }
        }

        .single-lawyer {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          border-right: 2px solid $gray;
          padding-right: 43px;
          margin-right: 100px;
        }

        .single-lawyer-reverse {
          display: flex;
          justify-content: space-between;
          flex-direction: column-reverse;
          border-right: 2px solid $gray;
          padding-right: 43px;
          margin-right: 100px;

          img {
            margin-bottom: 25px;
          }
        }

      }
    }
    .yellow-box {
      height: 398px;
      width: 100%;
      background-color: $yellow;
      margin-bottom: -290px;
    }
  }
}
