@import "partials/text";
@import "partials/colors";
@import "partials/variables";

.lawyer-page {
  .container {
    .width-container {
      position: relative;
      z-index: 20;
    }
  }

  .width-container {
    width: 100%;
    margin-bottom: 30px;

    .react-select__control {
      border-radius: 0;
      border-top: 2px solid $gray;
      border-bottom: 2px solid $gray;
      padding: 8px 0px;
      border-left: none;
      border-right: none;
      background-color: transparent;
    }

    .react-select__menu {
      border: none;
      background-color: $yellow;
      border-radius: 0;
      color: #303030;
      border-top: 2px solid $gray;
      border-bottom: 2px solid $gray;
    }

    .react-select__option {
      font-size: $font-size-medium-small;

      &:hover {
        @include hover-transition;
        background-color: $dark-gray-hover;
        color: $white;
      }
    }

    .react-select__control--is-focused {
      border-top: 2px solid $blue;
      border-bottom: 2px solid $blue;
      box-shadow: none;
    }

    .react-select__indicator-separator { display: none; }

    .react-select__control {
      &:hover { cursor: pointer; }
    }
  }

  .width-container {
    .area-title {
      text-transform: uppercase;
      font-size: $font-size-medium - 0.2;
      font-weight: bold;
      margin-top: 60px;
    }

    .lawyers-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border-top: 2px solid $gray;
      margin-top: 50px;

      &.around { justify-content: space-around; }

      .single-lawyer {
        display: flex;
        margin-top: 50px;

        .small-lines {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 50px;

          .line {
            width: 43px;
            height: 0;
            border: 1px solid $gray;
          }
        }

        .middle {
            margin: 0 50px;

          .name { margin: 27px 0 15px 0; }

          .area {
            margin-top: 15px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 948px) {
    .container {
      .width-container {

        .gray-title { font-size: $font-size-title - 1; }
      }
    }

    .react-select__control {
      .react-select__placeholder { font-size: $font-size-small-regular; }
    }

    .width-container {
      .area-title { font-size: $font-size-title - 2.5; }

      .lawyers-container {
        justify-content: center;

        .single-lawyer {
          .middle {
            .lawyer-about { font-size: $font-size-extra-large; }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 820px) {
    .container {
      .width-container {
        .gray-title { font-size: $font-size-title - 2; }
      }
    }

    .react-select__control {
      .react-select__placeholder { font-size: $font-size-small-regular - 0.2; }

      .react-select__single-value { font-size: $font-size-small-regular - 0.2; }
    }

    .width-container {
      .area-title { font-size: $font-size-title - 3; }

      .lawyers-container {
        .single-lawyer {
          .middle {
            .lawyer-about { font-size: $font-size-extra-large - 0.2; }
          }
        }
      }
    }
  }


  @include mobile-break {
    .container {
      .width-container {
        .gray-title { font-size: $font-size-title - 2.3; }
      }
    }

    .width-container {
      .lawyers-container {
        .single-lawyer {
          .middle {
            img { max-width: 190px; }
          }
        }
      }
    }

    .react-select__control {
      font-size: $font-size-large;

      .react-select__placeholder { font-size: $font-size-small-regular - 0.4; }
    }

    .width-container {
      .area-title { font-size: $font-size-title - 3.5; }
    }
  }
}
