@import "partials/text";
@import "partials/colors";
@import "partials/variables";

@keyframes small-grow {
  from {
    height: 0;
  }
  to {
    height: 48px;
  }
}

@keyframes menu-grow {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}

.header {

  .content-wrapper {

    .menu-btn {
      display: none;
    }

    .menu-icon {
      display: none;
    }
    
    .nav-item {
      font-size: $font-size-medium-small;
      color: $black;
      line-height: 18px;
      text-transform: uppercase;
      padding: 30px 25px;
      font-weight: bold;

      @include hover-transition;

      &:hover {
        color: $black-hover;
      }

      &.active {
        margin-top: 50px;
        font-weight: normal;
      }
    }

    .headerLogo {
      max-width: 95px;
      max-height: 95px;
    }

    .nav-wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
    }

    .nav-wrapper-gray {
      display: flex;
      max-height: 120px;
      position: absolute;
      top: 0;
      width: 100%;

      .nav-item {
        border-right: 2px solid $gray;
        padding-top: 60px;

        &:first-child {
          padding-top: 30px;
        }

        &:last-child {
          border-left: 2px solid $gray;
        }

        &.active {
          margin-top: 0;
          padding-top: 50px;
          font-weight: normal;
          padding-top: 72px;
        }
      }

      .line-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 30%;
        width: 100%;
        margin: 0 100px;
      }


      .small-line {
        height: 0px;
        width: 0;
        border: 1px solid $gray;
        animation: small-grow ease-in 0.5s;
        animation-fill-mode: forwards;
      }
    }
  }
}

@media only screen and (max-width:1320px) {
  .header {
    .content-wrapper {
      .nav-item {
        font-size: $font-size-medium-small - 0.2;
        padding: 30px 21px;

      }
    }
  }
}

@media only screen and (max-width:1170px) {
  .header {
    .content-wrapper {
      .headerLogo {
        max-width: 75px;
        max-height: 75px;
      }
      .nav-item {
        padding: 30px 20px;
      }
    }
  }
}


@media only screen and (max-width:975px) {
  .header {
    .content-wrapper {
      .headerLogo {
        max-width: 72px;
        max-height: 72px;
      }
      .nav-item {
        padding: 30px 15px;
      }
    }
  }
}

@media only screen and (max-width:975px) {
  .header {
    .content-wrapper {
      .nav-item {
        padding: 30px 15px;
      }
    }
  }
}

@media only screen and (max-width:880px) {
  .header {
    .content-wrapper {
      .nav-item {
        padding: 30px 13px;
      }
    }
  }
}

@media only screen and (max-width:820px) {
  .header {
    .content-wrapper {
      .headerLogo {
        max-width: 52px;
        max-height: 52px;
      }
      .nav-item {
        font-size: 12px;
        padding: 30px 12px;
      }
    }
  }
}


  @media only screen and (max-width:700px) {
    .header {
      .content-wrapper {
        .nav-item {
          font-size: 11px;
          padding: 30px 9px;
        }
      }
    }
  }

  @include mobile-break {
    .header {

      &.open {

      }
      .content-wrapper {

      }
    }
  }
