@import "partials/text";
@import "partials/colors";
@import "partials/variables";

.header {
  .content-wrapper {

    .nav-item {
      font-size: $font-size-medium-small;
      color: $black;
      line-height: 18px;
      text-transform: uppercase;
      padding: 30px 25px;
      font-weight: bold;

      @include hover-transition;

      &:hover {
        color: $black-hover;
      }

      &.active {
        margin-top: 50px;
        font-weight: normal;
      }
    }

    .headerLogo {
      max-width: 95px;
      max-height: 95px;
    }

    .nav-wrapper {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
    }

    .nav-wrapper-gray {
      display: flex;
      max-height: 120px;
      position: absolute;
      top: 0;
      width: 100%;

      .nav-item {
        border-right: 2px solid $gray;
        padding-top: 60px;

        &:first-child {
          padding-top: 30px;
        }

        &:last-child {
          border-left: 2px solid $gray;
        }

        &.active {
          margin-top: 0;
          padding-top: 50px;
          font-weight: normal;
          padding-top: 72px;
        }
      }

      .line-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 30%;
        width: 100%;
        margin: 0 100px;
      }

      .small-line {
        height: 48px;
        width: 0;
        border: 1px solid $gray;

      }
    }
  }
}
