@import "partials/text";
@import "partials/colors";
@import "partials/variables";


.form-wrapper {
  &:last-child {
    height: 400px;
  }

  .form-item-wrapper div.form-item-error {
    padding: 0 !important;
    position: absolute;
    top: 74px;
    border: 0;
    right: 0;
    margin-top: 5px;
  }


  .form-item-wrapper {
    height: 100%;
    padding: 0;


    .form-item-error {
      border: 1px solid $error;
      border-radius: 5px;


    }

    .input-values {
      height: 100%;
      color: $black;
    }

    .form-item {
      text-align: left;
      color: $black;
      padding-left: 10px;
      position: relative;

    }

    &.form-item-wrapper-textarea {
      max-height: initial;
      height: auto;
    }

    &.form-item-wrapper-textarea .input-values textarea {
      font-size: 2rem !important;
      font-family: "Montserrat", sans-serif;

      .form-item-wrapper {
        top: 300px;
      }
    }

    label {
      display: none;
    }
  }
  .submit-wrapper {
    text-align: right;
    margin-top: 30px;
  }

  .fields-wrapper {

  }

  @media only screen and (min-width: 1100px) {
    .form-item-wrapper:not(:last-child) {
      margin-bottom: 35px;
      height: auto;
    }
  }
}
