@import "partials/text";
@import "partials/colors";
@import "partials/variables";


.form-wrapper {

  .form-item-wrapper {
    height: 100%;
    padding: 0;

    .input-values {
      height: 100%;
      color: $black;
    }

    .wrapper-error {
      .input-values {
        padding: 0;
      }
    }

    .form-item {
      text-align: left;
      color: $black;
      padding-left: 10px;
    }

    &.form-item-wrapper-textarea {
      max-height: initial;
      height: auto;
    }

    &.form-item-wrapper-textarea .input-values textarea {
      font-size: 2rem !important;
      font-family: "Montserrat", sans-serif;
    }

    label {
      display: none;
    }
  }
  .submit-wrapper {
    text-align: right;
    margin-top: 30px;
  }

  .fields-wrapper {


  }

  @media only screen and (min-width: 1100px) {
    .form-item-wrapper:not(:last-child) {
      margin-bottom: 35px;
      height: auto;
    }
  }
}
