$gray: #8B8B8B;
$red: #C02727;
$yellow: #F7F2E5;
$white: #FFFFFF;
$dark-gray: #575757;
$blue: #4D90FE;
$error: #ff3333;


$black: #000000;
$black-hover: lighten($black, 50);


$dark-gray-hover: lighten($dark-gray, 20);
$dark-gray-disabled: darken($dark-gray, 10);
$gray-hover: lighten($gray, 20);
