@import '../../../common/partials/text';
@import '../../../common/partials/colors';
@import "../../../common/partials/variables";


.about-us {
  .header-area {
    display: flex;
    justify-content: space-between;

    .links-area {
      display: flex;
      margin-left: 142px;

      .long-line {
        height: 585px;
        width: 0;
        border: 1px solid $gray;

        &:last-child { margin-left: 115px }
      }

      .text-line-area {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        width: 250px;

        .lines {
          display: flex;
          justify-content: space-between;

          .medium-line {
            height: 495px;
            width: 0;
            border: 1px solid $gray;
          }
        }

        .text {
          text-transform: uppercase;
          font-size: $font-size-title;
          line-height: 61px;
          color: $dark-gray;
          margin-top: 20px;
          padding-left: 8px;
        }

        .arrow {
          width: 30px;
          height: 30px;
          margin-top: 15px;
          align-self: center;
        }
      }
    }
  }

  .content-wrapper {
    .big-yellow-box {
      width: 37vw;
      max-height: 1471px;
      height: 100%;
      background-color: $yellow;
      position: absolute;
      z-index: 2;
    }

    .width-container {
      margin-top: 115px;
      position: relative;
      z-index: 5;

      .medium-line {
        width: 475px;
        height: 0px;
        border: 1px solid $gray;
        margin-bottom: 60px;
      }

      .small-line {
        width: 120px;
        height: 0px;
        border: 1px solid $gray;
        margin-bottom: 95px;
      }

      .page-about {
        margin-left: 215px;
        margin-bottom: 50px;

        .page-title {
          font-size: $font-size-title;
          margin-bottom: 10px;
        }

        .title-about {
          font-size: $font-size-large;
          text-transform: uppercase;
        }
      }

      .page-content {
        display: flex;
        justify-content: space-between;

        .lines { margin-top: 45px; }

        .page-text {
          line-height: 20px;
          font-size: $font-size-small-regular;
          max-width: 1000px;

          .office-owner {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 50px;
          }

          .owner {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 50px;
          }

          .text-content:not(:last-child) { margin-bottom: 30px; }
        }
      }
    }
  }

  @media only screen and (max-width: 1700px) {
    .header-area {
      .about-us-img {
        .about-img { width: 700px; }
      }
    }
  }

  @media only screen and (max-width: 1440px) {
    .header-area {
      .about-us-img {
        .about-img { width: 600px; }
      }
    }
  }

  @media only screen and (max-width: 1210px) {
    .header-area {
      .about-us-img {
        .about-img { width: 550px; }
      }
    }
  }

  @media only screen and (max-width: 1320px) {
    .header-area {

      .text { font-size: $font-size-title - 1; }

      .about-us-img { width: 550px; }

      .links-area {
        margin-left: 125px;

        .long-line:last-child {   margin-left: 60px; }

        .text-line-area {
          .lines {
            justify-content: normal;
            margin-left: -10px;

            .medium-line:not(:last-child) { margin-right: 107px; }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1170px){
    .header-area {
      .about-us-img { width: 500px; }

      .links-area {
        margin-left: 100px;

        .text-line-area {
          .text { font-size: $font-size-title - 1; }

          .arrow { margin-left: -50px; }
        }
      }
    }

    .content-wrapper {
      .width-container {
        .page-content {
          .page-text {
            margin-bottom: 50px;
            font-size: $font-size-medium-small;
            text-align: justify;
            max-width: 70vw;
          }
        }

        .page-about {
          .page-title { font-size: $font-size-title - 1; }

          .title-about { font-size :$font-size-medium-small; }
        }
      }
    }
  }

@media only screen and (max-width: 1115px) {
  .header-area {
    .about-us-img {
      .about-img {
        width: 450px;
        height: 450px;
      }
    }
  }
}

@media only screen and (max-width: 1130px) {
  .header-area {
    .about-us-img {
      .about-img {
        width: 350px;
        margin-left: 30px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .header-area {
    .about-us-img {
      .about-img {
        width: 450px;
        height: 500px;
        object-fit: cover;
        margin-left: 40px;
      }
    }
  }
}

@media only screen and (max-width: 1065px) {
  .header-area {
    .about-us-img {
      .about-img {
        width: 320px;
        margin-left: 120px;
      }
    }
  }
}

  @media only screen and (max-width: 975px) {
    .header-area {
      .about-us-img {
        .about-img { margin-left: 0; }
      }

      .links-area {
        margin-right: 108px;
        margin-left: 96px;

        .long-line:last-child { margin-left: 9px; }

        .text-line-area {
          .text { margin-left: -35px; }

          .arrow { margin-left: -115px; }

          .lines {
            justify-content: normal;
            margin-left: -27px;

            .medium-line:not(:last-child) { margin-right: 92px; }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 920px) {
    .header-area {
      .about-us-img {
        .about-img { width: 300px; }
      }
    }
  }

  @media only screen and (max-width: 880px) {
    .header-area {
      .about-us-img {
        .about-img { margin-left: -40px; }
      }
      .links-area {
        margin-left: 88px;

        .long-line:last-child { margin-left: -4px; }

        .text-line-area {

          .arrow { margin-left: -120px; }

          .lines {
            .medium-line:not(:last-child) { margin-right: 90px; }
          }
        }
      }
    }

    .content-wrapper {
      .width-container {
        .page-about { margin-left: 140px; }

        .page-content {
          .page-text { font-size: $font-size-medium-small - 0.1; }
        }
      }
    }
  }

  @media only screen and (max-width: 820px){
    .header-area {
      .text { font-size: $font-size-title - 1.5; }

      .links-area {
        margin-left: 70px;
        .long-line:last-child { margin-left: -36px; }

        .text-line-area {
          .text { margin-left: -55px; }

          .arrow { margin-left: -145px; }

          .lines {
            margin-left: -40px;

            .medium-line:not(:last-child) { margin-right: 83px; }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 780px) {
    .header-area {
      .about-us-img {
        .about-img {
          width: 250px;
          margin-left: 250px;
          margin-left: -30px;
        }
      }
    }
  }

  @media only screen and (max-width: 700px) {
    .header-area {
      .links-area {
        .long-line:last-child { margin-left: -88px; }

        .text-line-area {
          .text { margin-left: -73px; }

          .arrow { margin-left: -205px; }

          .lines {
            margin-left: -55px;

            .medium-line:not(:last-child) {   margin-right: 71px; }
          }
        }
      }
    }
  }

  @include mobile-break {
    .header-area {
      justify-content: center;

      .links-area { margin: 0; }

      .about-us-img { display: none; }
    }
    .content-wrapper {
      .width-container {
        .page-content {
          .lines { display: none; }

          .page-text {
            max-width: 100%;

            .text-content { max-width: 100vw; }
          }
        }
      }
    }
  }
}
