.carousel-slider {
  max-width: 1365px;

  .react-multi-carousel-item {
    max-width: 333px;
    margin-left: 100px;
  }

  .react-multiple-carousel__arrow--right {
    right: calc(4% + -45px);
  }

  .react-multiple-carousel__arrow--left {
    left: calc(4% + -45px);
  }
}
