@import "partials/text";
@import "partials/colors";
@import "partials/variables";

.areas-page {

  .width-container { width: 100%; }

  .width-container {
    .content-wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 35px;
      border-top: 2px solid $gray;
      margin-top: 55px;

      .section-title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: $font-size-small-regular;
        margin-bottom: 10px;
      }

      .section-about {
        line-height: 150%;
        font-size: $font-size-small-regular;
      }

      .left {
        display: flex;
        flex-direction: column;

        .top {
          display: flex;

          .lines {
            display: flex;
            flex-direction: column;
            padding-top: 75px;

            .small-line {
              width: 30px;
              height: 0px;
              border: 1px solid $gray;
              margin-bottom: 100px;
            }
          }

          .areas-select, .css-2b097c-container {
            display: none;
            width: 100%;
            margin: 30px auto;

            .react-select__control {
              border-radius: 0;
              border-top: 2px solid $gray;
              border-bottom: 2px solid $gray;
              padding: 8px 0px;
              border-left: none;
              border-right: none;
              background-color: transparent;
            }
            .react-select__menu {
              border: none;
              background-color: $yellow;
              border-radius: 0;
              color: #303030;
              border-top: 2px solid $gray;
              border-bottom: 2px solid $gray;
            }

            .react-select__option {
              font-size: $font-size-medium-small - 0.1;

              &:hover {
                @include hover-transition;
                background-color: $dark-gray-hover;
                color: $white;
              }
            }

            .react-select__placeholder { font-size: 14px; }

            .react-select__control--is-focused {
              border-top: 2px solid $blue;
              border-bottom: 2px solid $blue;
              box-shadow: none;
            }

            .react-select__indicator-separator { display: none; }

            .react-select__control {
              &:hover { cursor: pointer; }
            }
          }

          .links {
            display: flex;
            flex-direction: column;

            .link {
              margin-bottom: 35px;
              font-size: $font-size-small-regular;
              font-weight: bold;
              cursor: pointer;
              margin-left: 32px;

              @include hover-transition;

              &.active {
                @include hover-transition;
                font-size: $font-size-regular;
                font-weight: normal;
              }

            }

            .arrow-right { margin-left: 20px; }
          }
        }

        .bottom {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .medium-line {
            width: 396px;
            height: 0px;
            border: 1px solid $gray;
            margin-top: 100px;

            &:first-child { margin-top: 0; }
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;

        .right-title {
          text-transform: uppercase;
          font-size: $font-size-medium - 0.2;
          font-weight: bold;
          margin-bottom: 38px;
        }

        .section {
          max-width: 820px;
          max-height: 192px;
          margin-bottom: 55px;
          height: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: 1265px) {
    .container {
      .width-container {
        .gray-title { font-size: $font-size-title - 1; }
      }
    }

    .width-container {
      .content-wrapper {
        flex-direction: column;
        align-items: center;

        .right {
          margin-top: 40px;
          text-align: justify;
        }

        .left {
          .top {
            .links {
              flex-direction: row;
              align-items: center;
              height: 100px;

              .link {
                border: 2px solid $gray;
                margin: 0;
                padding: 10px 24px;
                justify-content: center;
                background-color: $gray;
                margin-bottom: 0;
                color: $white;
                font-weight: normal;

                &.active {
                  background-color: $gray-hover;
                  font-size: $font-size-small-regular;
                  color: $white;
                  margin-top: 0;
                }

                &:hover {
                  background-color: $yellow;
                  color: $black;
                }

                .arrow-right { display: none; }
              }
            }

            .lines { display: none; }
          }

          .bottom { display: none; }
        }
      }
    }
  }

  @media only screen and (max-width: 880px) {
    .container {
      .width-container {
        .gray-title { font-size: $font-size-title - 2; }
      }
    }

    .width-container {
      .content-wrapper {
        .right {
          .section {
            max-height: 100%;

            .section-about { font-size: $font-size-medium-small; }
          }

          .right-title { font-size: $font-size-title - 2.5; }
        }
      }
    }
  }

  @media only screen and (max-width: 845px) {
    .width-container {
      .content-wrapper {
        .left {
          width: 100%;

          .top {
            .area-select {
              display: block;
              width: 100%;
            }

            .links { display: none; }
          }
        }
      }
    }
  }

  @include mobile-break {
    .width-container {
      .content-wrapper {
        .section {
          margin-bottom: 25px;

          .section-about { font-size: $font-size-small; }
        }
      }
    }
  }
}
