@import 'partials/colors';
@import 'partials/text';
@import 'partials/variables';

.form-wrapper {
  width: 100%;
  position: relative;

  .form-item-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;

    input, textarea {
      padding: 25px 20px;
      background-color: #E9E9E9;
    }

    &.wrapper-error {
      padding: 0;
      border-color: $red;
    }

    &.disabled {
      opacity: .3;
      cursor: not-allowed;
      > * { pointer-events: none; };
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .input-values {
      display: flex;
      justify-content: space-between;
    }

    label {
      display: flex;
      font-size: $font-size-small-regular;
      color: $gray;
      width: 100%;
    }

    .second-label {
      font-size: $font-size-extra-large;
      color: white;
      display: flex;
      align-items: center;
    }

    .form-item {
      width: 100%;
      color: white;
      border: none;
      font-size: $font-size-extra-large;
      text-align: right;
      min-width: 0;

      &::placeholder {
        color: $gray;
        opacity: 1;
      }
    }

    div.form-item-error {
      color: $red;
      text-align: left;
      font-size: $font-size-small + 0.1;
      border-top: 1px solid $red;
      padding: 10px 23px;
    }

    &.form-item-wrapper-textarea {

      .input-values { flex-grow: 1; }

      textarea {
        resize: none;
        text-align: left;
        flex-grow: 1;
        font-size: $font-size-small + 0.1;
        height: 270px;
      }
    }
  }
}
