@import '../../../common/partials/text';
@import '../../../common/partials/colors';
@import '../../../common/partials/variables';

.footer {
  display: flex;
  flex-direction: column;
  font-size: $font-size-small;
  margin-top: 100px;
  padding: 45px 100px 18px 100px;
  background-color: #F3F3F3;


  .footer-title {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .footer-link {
    @include hover-transition;
    text-transform: uppercase;

    &:hover {
      color: $black-hover;
    }

    &:not(:last-child) {  margin-bottom: 17px; }
  }


  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;

    .flex {
      display: flex;

      .flex-column {
        display: flex;
        flex-direction: column;

        &.right {
          margin-left: 100px;
        }
      }
    }

    .mid {
      .logo {
         padding-top: 30px;
         max-width: 90px;
         max-height: 90px;
       }
    }
  }

  .bottom { text-align: center; }
}

@media only screen and (max-width: 790px) {
  .footer {
    .top {
      flex-direction: column;
      align-items: center;

      .flex {
        text-align: center;

        &:last-child {
          margin-top: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    .top {
      .flex {
        flex-direction: column;

        .flex-column {

          &.right {
            margin-left: 0;
            margin-top: 50px;
          }
        }
      }
    }
  }
}
